###############################################################################
# Normalize line endings to LF for all text files.
###############################################################################
* text eol=lf
